.card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten si no caben en una línea */
  gap: 20px; /* Espacio entre las tarjetas */
  justify-content: flex-start; /* Alinea las tarjetas desde el inicio */
  background: var(--surface-card);
  border-radius: 1rem;
  margin: 1rem;
  padding: 1.5rem;
}

.custom-card {
  flex: 1 1 calc(33.33% - 20px); /* Las tarjetas ocupan un tercio del espacio disponible */
  box-sizing: border-box;
  margin-bottom: 20px;
  max-width: calc(33.33% - 20px); /* Limita el ancho máximo para evitar que crezca más allá de su espacio */
}
